@page "/taghredat/{id}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ElSerajElMoneer.Shared
@attribute [Authorize]
@inject HttpClient Http
<style>
    body {
        font-family: 'Noto Kufi Arabic', sans-serif;
        background-color: #eee;
    }

    .main > div[b-z5li2q9z35] {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .masthead {
        padding: 0rem 0 0rem;
        position: relative;
        background-color: #2cb4dd;
        background-image: url(https://startbootstrap.com/assets/img/overlay.svg), linear-gradient(45deg, #2cb4dd 0%, #2cb4dd 100%);
        background-size: cover;
        z-index: 0
    }

        .masthead svg.wave {
            position: absolute;
            bottom: -1px;
            left: 0
        }

        .masthead h3, h4, h5 {
            color: #fff;
            line-height: 1.6;
        }

        .masthead h1 {
            color: #fff;
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.1;
            z-index: 1
        }

        .masthead h5 {
            color: rgba(255, 255, 255, .6);
            font-weight: 600;
            z-index: 1;
            font-size: 1.2rem
        }

        .masthead a {
            color: rgba(255, 255, 255, .8);
            text-decoration: underline;
            z-index: 1
        }

            .masthead a:hover {
                color: #fff
            }

            .masthead a:active {
                text-decoration: none
            }

    @@media(min-width:992px) {
        .masthead h1 {
            font-size: 3rem
        }

        .masthead h2 {
            font-size: 1.5rem
        }
    }

    .masthead .masthead-cards {
        position: relative;
        z-index: 1
    }

        .masthead .masthead-cards .shape {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, .3);
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
        }

        .masthead .masthead-cards .card {
            opacity: 1;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: .05rem;
            color: #212529;
            transition: .15s all
        }

            .masthead .masthead-cards .card:hover {
                margin-top: -.25rem;
                margin-bottom: .25rem
            }

            .masthead .masthead-cards .card:active {
                margin-top: inherit;
                margin-bottom: inherit
            }

            .masthead .masthead-cards .card.border-bottom-blue:hover {
                color: #2092ed
            }

            .masthead .masthead-cards .card.border-bottom-green:hover {
                color: #28a745
            }

            .masthead .masthead-cards .card.border-bottom-red:hover {
                color: #dd3d31
            }

            .masthead .masthead-cards .card.border-bottom-yellow:hover {
                color: #ffc107
            }

    .masthead-page {
        padding: 0rem 0 0rem
    }

    @@media(min-width:992px) {
        .masthead-page h1 {
            font-size: 2.5rem
        }
    }

    .border-bottom-yellow {
        border-color: #ffc107 !important;
    }

    .border-bottom-red {
        border-color: #dd3d31 !important;
    }

    .border-bottom-blue {
        border-color: #2092ed !important;
    }

    .border-bottom-green {
        border-color: #28a745 !important;
    }

    .border-bottom-blue, .border-bottom-green, .border-bottom-red, .border-bottom-yellow {
        border-bottom: .4rem solid !important;
    }

    .shadow-lg {
        box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05) !important;
    }

    .border-0 {
        border: 0 !important;
    }

    :root {
        --surface-color: #fff;
        --curve: 40;
    }

    * {
        box-sizing: border-box;
    }



    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        margin: 4rem 5vw;
        padding: 0;
        list-style-type: none;
    }

    .card {
        position: relative;
        display: block;
        height: 100%;
        border-radius: calc(var(--curve) * 1px);
        overflow: hidden;
        text-decoration: none;
    }

    .card__image {
        width: 100%;
        height: auto;
    }

    .card__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border-radius: calc(var(--curve) * 1px);
        background-color: var(--surface-color);
        transform: translateY(100%);
        transition: .2s ease-in-out;
    }

    .card:hover .card__overlay {
        transform: translateY(0);
    }

    .card__header {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2em;
        padding: 1em;
        border-radius: calc(var(--curve) * 1px) 0 0 0;
        background-color: var(--surface-color);
        transform: translateY(-100%);
        transition: .2s ease-in-out;
    }

    .card__arc {
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 100%;
        right: 0;
        z-index: 1;
    }

        .card__arc path {
            fill: var(--surface-color);
            d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
        }

    .card:hover .card__header {
        transform: translateY(0);
    }

    .card__thumb {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .card__title {
        font-size: 1em;
        margin: 0 0 .3em;
        color: #6A515E;
    }

    .card__tagline {
        display: block;
        margin: 1em 0;
        font-family: "MockFlowFont";
        font-size: .8em;
        color: #D7BDCA;
    }

    .card__status {
        font-size: .8em;
        color: #D7BDCA;
    }

    .card__description {
        padding: 0 2em 2em;
        margin: 0;
        color: #D7BDCA;
        font-family: "MockFlowFont";
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }


    .buttonDownload {
        display: inline-block;
        position: relative;
        padding: 10px 25px;
        background-color: #2bb4dd;
        color: white;
        text-decoration: none;
        font-size: 0.9em;
        text-align: center;
        text-indent: 15px;
        border-top-right-radius: 15px;
    }

        .buttonDownload:hover {
            background-color: #0e485a;
            color: white;
        }

    .buttonWatch {
        display: inline-block;
        position: relative;
        padding: 10px 25px;
        background-color: #c21f37;
        color: white;
        text-decoration: none;
        font-size: 0.9em;
        text-align: center;
        text-indent: 15px;
        border-top-left-radius: 15px;
    }

        .buttonWatch:hover {
            background-color: #6e111f;
            color: white;
        }

        .buttonDownload:before, .buttonDownload:after, .buttonWatch:before, .buttonWatch:after {
            content: ' ';
            display: block;
            position: absolute;
            left: 15px;
            top: 52%;
        }

    /* Download box shape  */
    .buttonDownload:before, buttonWatch:before {
        width: 10px;
        height: 2px;
        border-style: solid;
        border-width: 0 2px 2px;
    }

    /* Download arrow shape */
    .buttonDownload:after, buttonWatch:after {
        width: 0;
        height: 0;
        margin-left: 3px;
        margin-top: -7px;
        border-style: solid;
        border-width: 4px 4px 0 4px;
        border-color: transparent;
        border-top-color: inherit;
        animation: downloadArrow 2s linear infinite;
        animation-play-state: paused;
    }

    .buttonDownload:hover:before, .buttonWatch:hover:before {
        border-color: #4CC713;
    }

    .buttonDownload:hover:after, .buttonWatch:hover:after {
        border-top-color: #4CC713;
        animation-play-state: running;
    }

    /* keyframes for the download icon anim */
    @@keyframes downloadArrow {
        /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
        0% {
            margin-top: -7px;
            opacity: 1;
        }

        0.001% {
            margin-top: -15px;
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            margin-top: 0;
            opacity: 0;
        }
    }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@700&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<header class="masthead mx-0 pt-0">
    <div class="container">
        <div class="row align-items-center pb-5">
            <div class="col-lg-7 py-5">
                <h1 class="mb-4 text-center" dir="rtl" lang="ar">
                    السّيِرَةُ النَّبَوِيَّةٌ في تَغْرِيدَات
                    <br />
                </h1>
                <h4 class="mb-4 text-center" dir="rtl" lang="ar">
                    تأليف : موسى بن راشد العازمي
                    <br />
                    صوت : فيصل بن جذيان العتيبي
                    <br />
                    برعاية : وقف سارة بنت راشد بن غنيم الحقباني

                </h4>
                <h1 class="m-0 text-center">
                    Biography of the Prophet in Tweets
                    <br />
                </h1>
                <h5 class="mb-4 text-center">
                    Author : Mousa Ibn Rashed El-Azmy
                    <br />
                    Voice : Faisal Ibn Gazyan El-Otyeby
                    <br />
                    Subervision : Waqf Sarah Bnt Rashed Ibn Ghoniem Al-Haqbany
                </h5>
            </div>
            <div class="col-lg-5 pb-5 pt-3 masthead-cards">
                <img src="twitter-bird-icon-9-removebg-preview.png" height="400" width="400" />
                <div class="shape"></div>
            </div>

        </div>
    </div>
    <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
        <defs>
            <style>
                .a {
                    fill: none;
                }

                .b {
                    clip-path: url(#a);
                }

                .c,
                .d {
                    fill: #eee;
                }

                .d {
                    opacity: 0.5;
                    isolation: isolate;
                }
            </style>
            <clipPath id="a">
                <rect class="a" width="1920" height="75"></rect>
            </clipPath>
        </defs>
        <title>wave</title>
        <g class="b">
            <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
        </g>
        <g class="b">
            <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
        </g>
        <g class="b">
            <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
        </g>
        <g class="b">
            <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
        </g>
    </svg>
</header>

<div class="container pt-4 text-center">
    <h1>@taghreda.Title</h1>
    <iframe width="950" height="534" src="@taghreda.WatchUrl" title="YouTube video player" frameborder="0" style="border-radius: 20px;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


@code {
    [Parameter]
    public string Id { get; set; }
    private TaghredatElSera taghreda = new TaghredatElSera();
    private string watchUrl;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            taghreda = await Http.GetFromJsonAsync<TaghredatElSera>($"TaghredatElSera/{Id}");
        }
        catch(AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
